.pic {
  width: 30%;
  flex-shrink: 0;
  overflow: hidden;
  margin-right: 20px;
}
.pic img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button_marks {
  opacity: 0.8;
  border: 1px solid rgb(233, 236, 248);
  border-radius: 30px;
  color: whitesmoke;
  margin-right: 10px;
  min-width: 100px;
}

.acc {
  opacity: 0.8;
  border: 1px solid rgb(233, 236, 248);
  border-radius: 30px;
  color: white;
  margin-top: 20px;
  margin-left: 10px;
}

.acc:hover {
  background-color: #42747e;
  color: white;
  transition: 0.5s;
}

.button_marks:last-child {
  margin-right: 0;
}

.button_marks:hover {
  background-color: #1f5f80;
  color: whitesmoke;
  transition: 0.5s;
}


.buttonWrapper {
  padding-top: 10px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.item {
  border-bottom: 1px solid #fff;
  padding: 20px 0;
}
.item:last-child {
  border: none;
  padding-bottom: 0;
}
