.bg {
  background-color: rgba(24, 59, 82, 0.4);
}

.nav__container {
  height: 100px;
  display:grid;
  grid-template-columns: 1fr 3fr 6fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "logonav textnav btnsnav"
  ;
  column-gap: 20px;
  align-items: center;
  justify-content: center;
  align-content: end;
  padding-bottom: 20px;
}

.nav__logo {
  grid-area: logonav;
}

.nav__text {
  grid-area: textnav;
}

.nav__btns {
  grid-area: btnsnav;
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  column-gap: 20px;
  margin: 0;
}

.nav__btn {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  position: relative;
}

.nav__none {
  width: 1px;
  height: 1px;
  grid-area: nonenav;
}

.navbar {
  margin-left: auto;
}

.navbar__wrapper {
  width:100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}

.navbar_brand2 {
  padding-right: 5;
  color: white;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
}

.navbar_brand2:hover {
  align-items: left;
  color: rgb(216, 220, 241);
}

.nav_item2 {
  display: flex;
  color: white !important;
  font-weight: bold;
  text-decoration: none;
}

.logo {
  position: relative;
  width: 20%;
  height: 100%;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  filter: invert(70%);
}

.img {
  width: 80%;
  height: auto;
}
