.back {
  background-color: rgb(158, 163, 185);
  /* height: 100vh; */
}

.myNav {
  background-color: rgb(139, 174, 206);
  border-radius: 3px;
  border: 1px solid rgb(212, 53, 53);
  font-weight: bold;
  color: aliceblue;
  margin-top: 5%;
  height: 100px;
  border: 2px solid rgb(173, 33, 33);
}

.logo {
  /* width: 10%;
  height: 100%; */
  /* border-radius: 30px; */
  /* border: 2px solid rgb(57, 63, 110); */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.modal {
  padding: 30px 50px;
}
.modalRegistration {
  padding: 20px 50px;
  background-color: black;
}
.modalColor {
  background-color: black;
}
.title {
  text-align: center;
}
.title h2 {
  font-weight: bold;
  margin-bottom: 5%;
}
.body form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.body form input {
  font-size: 16px;
  line-height: 24px;
  min-height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  border-width: 1px;
  border-radius: 3px;
  border: 1px solid rgb(136, 132, 132);
  margin-bottom: 5%;
}
.body form button {
  margin: 5px auto 5% auto;
}
.bottomSettng {
  display: flex;
  justify-content: space-between;
}
/* .bottomSettng input{
  margin: 0;
  padding: 0;
} */

.rememberPassword {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.checkbox {
  cursor: pointer;
  min-height: 0 !important;
  padding: 0 !important;
}
.link,
.footer p,
.forgotPassword p {
  line-height: none;
  cursor: pointer;
  color: blue;
  user-select: none;
  margin-bottom: 0;
}
.link:hover,
.footer p:hover,
.forgotPassword p:hover {
  color: rgb(48, 48, 240);
}
.footer {
  width: 100%;
  text-align: center;
}
