.form {
  position: absolute;
  /* top: 63px; */
  margin: 0 auto;
  bottom: -5px;
  transform: translateY(100%);

  right: 0;
  width: 300px;
  min-height: 200px;
  max-height: 400px;
  color: white;
  border-radius: 4px;
  border: 1px solid rgb(255, 255, 255);
  /* background-color: #aab3e6; */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  /* overflow: auto; */
  /* align-items: center; */
  /* opacity: 0.9; */
  background-color: rgba(31, 95, 128, 0.8);

  z-index: 10000;
}

.form ul {
  width: 280px;
  height: 100%;
  list-style: none;
  display: grid;
  grid-template-columns: 280px;
  grid-template-rows: 40px;
  grid-auto-flow: auto;
  margin: 0;
  margin-left: 10px;
  padding: 10px 0px 0px 0px;
}

.form ul h6 {
  position: relative;
  top: 10px;
}

.empty {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.form ul li {
  width: 100%;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0px 5px;
  border-top: 1px solid #477a85;
}

.form ul li:visited,
.form ul li:link {
  text-decoration: none;
}

.form ul li:hover {
  background-color: #477a85;
}

.cross {
  width: 20px;
  margin: 14px 4px;
  padding: 0px 5px;
}

.cross:hover {
  background-color: #477a85;
  border-radius: 50%;
}

.together {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.erase {
  padding:6px;
  /* margin: 0 6px 20px 0; */
}

.erase:hover {
  background-color: #477a85;
  border-radius: 3px;
}
