.form {
  position: absolute;
  top: 63px;
  left: 360px;
  width: 200px;
  min-height: 200px;
  border: 1px solid black;
  background-color: lightskyblue;
  margin: 0;
  padding: 0;
}

.form ul {
  width: 200px;
  height: 100%;
  list-style: none;
  display: grid;
  grid-template-columns: 200px;
  grid-template-rows: 40px;
  grid-auto-flow: auto;
  margin: 0;
  padding: 10px 0px 0px 0px;
}

.form ul li {
  width: 100%;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.form ul li a {
  /* padding: 18px 125px 16px; */
  width: 200px;
  height: 40px;
  color: black;
  border: 1px solid blue;
  margin: 0;
  padding: 0;
}

.form ul li a:visited,
.form ul li a:link {
  text-decoration: none;
}

.form ul li a:hover {
  background-color: turquoise;

  /* text-decoration: none; */
}
