.main_screen_wrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.main_screen_wrapper2 {
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.greeting_area {
  color: goldenrod;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.greeting_words {
  width: 100%;

  margin: 0 auto;
}
.greeting_words h2 {
  font-weight: bold;
  margin: 0;
  color: rgb(181, 181, 181);
  margin-bottom: 40px;
}

.greeting_words p {
  width: 40%;
  margin: 5px auto;
  color: rgb(181, 181, 181);
}

.tags_area {
  width: 52%;
}

.tags_area canvas {
  width: 100%;
  height: 75vh;
}

.button_register {
  background-color: #313340;
  border: 1px solid whitesmoke;
  border-radius: 30px;
  padding: 10px 40px;
  color: whitesmoke;
  font-weight: bold;
  margin-top: 80px;
}

.button_register:hover {
  background-color: goldenrod;
  color: rgb(48, 48, 48);
  transition: 0.5s;
}

.greeting_words h1 {
  /* margin: 15px 0px 0px 0px; */
  width: 100%;
  display: inline-block;
  font-size: 6em;
  letter-spacing: 5px;
  font-weight: bold;
  /* border: 1px solid white; */
  /* color: goldenrod; */
  padding: 0 10px;
  margin: 0;
  /* border-bottom: 2px solid whitesmoke; */
  /* border-top: 2px solid whitesmoke; */
  /* display: inline-block; */
  /* dnsjdhjshj */
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0008);
  line-height: 0.8em;
  outline: 0;
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0%,
  18%,
  20%,
  50.1%,
  60%,
  65.1%,
  80%,
  90.1%,
  92% {
    color: goldenrod;
    text-shadow: none;
  }
  0%,
  18.1%,
  20.1%,
  30%,
  50%,
  60.1%,
  65%,
  80.1%,
  90%,
  92.1%,
  100% {
    color: #fff;
    text-shadow: 0 0 10px goldenrod, 0 0 20px goldenrod, 0 0 40px goldenrod,
      0 0 80px #f4e403, 0 0 160px goldenrod;
  }
}
