.main_screen_wrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
  position: relative;
}
.main_screen_wrapper2 {
  /* width: 100vw; */
  /* min-height: 1024px; */
  min-height: 720px;
  overflow: hidden;
  /* height: 900%; */
  height: auto;
  /* display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; */
  display: flex;
  /* grid-template-columns: 14fr 5fr; */
  /* changed grid fragmanets so the name wouldn't spread */
  grid-template-columns: 16fr 4fr;
  grid-template-rows: auto;
  grid-template-areas: "tagss greet";
  position: relative;
}

/* размер блока с названием  */
.greeting_area {
  /* display: flex; */
  /* justify-self: center; */
  order: 1;
  max-width: 170px;

  /* color: #8a97e4; */
  /* слова welcome to  */
  color: #e9eaf1;
  /* width: 100%; */
  display: flex;
  /* flex-direction: column; */
  /* justify-content: center;
  order: 2; */
  /* grid-area: greet; */
}

/* подпись под кнопкой */
.greeting_words {
  /* width: 100%; */
  /* margin: 0 auto; */
  padding: 0px;
  margin-top: 30%;
  /* text-align: right; */
}

/* название приложения */
.greeting_words h3 {
  font-size: 50px;
  /* font-weight: bold; */
  margin: 0;
  padding: 0px 0px 0px 0px;
  /* обводка букв */
  color: rgb(42, 42, 44);
  /* color: #9fabec; */
  /* color: #8a97e4; */
  color: #eaebec;
  margin-bottom: 40px;
}

/* подпись под кнопкой */
.greeting_words p {
  width: 100%;
  max-width: 150px;
  margin: 5px 0px 0px 0px;
  /* color: rgb(181, 181, 181); */
  /* color: rgb(134, 140, 179); */
  color: #e9eaf1;
  justify-self: center;
  /* font-weight: bold; */
}

.tags_area {
  /* width: 50%; */
  /* order: 1; */
  justify-self: center;
  order: 0;
  flex-grow: 1;
}

.tags_area canvas {
  margin: 0 auto;
  width: 80%;
  height: 100%;
}

.button_register_top {
  /* background-color: #2c6e8e; */
  /* background-color: #1f5f80; */
  border: 1px solid rgb(233, 236, 248);
  opacity: 0.8;
  border-radius: 30px;
  padding: 10px 40px;
  color: whitesmoke;
  font-weight: bold;
  margin-top: 100px;
  /* box-shadow: 0 0 40px -5px rgb(245, 241, 241); */
  display: block;
  text-align: center;
  text-decoration: none;
}

.button_register {
  display: block;
  /* background-color: #2c6e8e; */
  opacity: 0.8;
  /* background-color: #1f5f80; */
  border: 1px solid rgb(233, 236, 248);
  /* border: 2px solid rgb(134, 140, 179); */
  border-radius: 30px;
  padding: 10px 40px;
  color: whitesmoke;
  font-weight: bold;
  text-align: center;
  text-decoration: none;

  margin-top: 20px;
  /* box-shadow: 0 0 40px -5px rgb(245, 241, 241); */
}

.button_register:hover {
  /* background-color: #7493b4; */
  /* background-color: #10415a; */
  background-color: #1f5f80;
  color: whitesmoke;
  transition: 0.5s;
}
.button_register_top:hover {
  /* background-color: #7493b4; */
  background-color: #1f5f80;
  color: whitesmoke;
  transition: 0.5s;
}

.greeting_words h3 {
  /* margin: 15px 0px 0px 0px; */
  width: 100%;
  display: inline-block;
  font-size: 4em;
  letter-spacing: 5px;
  font-weight: bold;
  /* border: 1px solid white; */
  padding: 0px;
  margin: 0;
  /* border-bottom: 2px solid rgb(231, 226, 226); */
  /* border-top: 2px solid whitesmoke; */
  display: inline-block;
  /* mirror reflection under Main Name */
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0008);
  line-height: 0.8em;
  outline: 0;
  /* animation: animate 5s linear infinite; */
}


.circle {
  border:none !important;
  outline: none !important;
  pointer-events: none !important;
}
/* 
@keyframes animate {
  0%,
  18%,
  20%,
  50.1%,
  60%,
  65.1%,
  80%,
  90.1%,
  92% {
    color: rgb(101, 125, 233);
    text-shadow: none;
  }
  0%,
  18.1%,
  20.1%,
  30%,
  50%,
  60.1%,
  65%,
  80.1%,
  90%,
  92.1%,
  100% {
    color: #fff;
    text-shadow: 0 0 10px rgb(101, 125, 233), 0 0 20px rgb(101, 125, 233),
      0 0 40px rgb(101, 125, 233), 0 0 80px #b3d3e2,
      0 0 160px rgb(101, 125, 233);
  }
} */

/* если будет время нанесем  */

.fire {
  animation: animation 1s ease-in-out infinite alternate;
  -moz-animation: animation 1s ease-in-out infinite alternate;
  -webkit-animation: animation 1s ease-in-out infinite alternate;
  -o-animation: animation 1s ease-in-out infinite alternate;
}

.burn {
  animation: animation 0.65s ease-in-out infinite alternate;
  -moz-animation: animation 0.65s ease-in-out infinite alternate;
  -webkit-animation: animation 0.65s ease-in-out infinite alternate;
  -o-animation: animation 0.65s ease-in-out infinite alternate;
}

@keyframes animation {
  0% {
    text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85,
      -20px -20px 40px #ffae34, 20px -40px 50px #ec760c,
      -20px -60px 60px #cd4606, 0 -80px 70px #973716, 10px -90px 80px #451b0e;
  }
  100% {
    text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #fefcc9,
      -20px -20px 40px #feec85, 22px -42px 60px #ffae34,
      -22px -58px 50px #ec760c, 0 -82px 80px #cd4606, 10px -90px 80px #973716;
  }
}

@-moz-keyframes animation {
  0% {
    text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85,
      -20px -20px 40px #ffae34, 20px -40px 50px #ec760c,
      -20px -60px 60px #cd4606, 0 -80px 70px #973716, 10px -90px 80px #451b0e;
  }
  100% {
    text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #fefcc9,
      -20px -20px 40px #feec85, 22px -42px 60px #ffae34,
      -22px -58px 50px #ec760c, 0 -82px 80px #cd4606, 10px -90px 80px #973716;
  }
}

@-webkit-keyframes animation {
  0% {
    text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85,
      -20px -20px 40px #ffae34, 20px -40px 50px #ec760c,
      -20px -60px 60px #cd4606, 0 -80px 70px #973716, 10px -90px 80px #451b0e;
  }
  100% {
    text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #fefcc9,
      -20px -20px 40px #feec85, 22px -42px 60px #ffae34,
      -22px -58px 50px #ec760c, 0 -82px 80px #cd4606, 10px -90px 80px #973716;
  }
}

@-o-keyframes animation {
  0% {
    text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85,
      -20px -20px 40px #ffae34, 20px -40px 50px #ec760c,
      -20px -60px 60px #cd4606, 0 -80px 70px #973716, 10px -90px 80px #451b0e;
  }
  100% {
    text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #fefcc9,
      -20px -20px 40px #feec85, 22px -42px 60px #ffae34,
      -22px -58px 50px #ec760c, 0 -82px 80px #cd4606, 10px -90px 80px #973716;
  }
}

/* 
.header {
  position: relative;
  width: 90%;
  height: 9%;
  margin-top: 10px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  transition: 1s all;
  z-index: 100;
} */


.block_wrapper__map {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.containerAcc {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  /* border: 5px solid rgb(233, 236, 248); */
  padding-top: 100px
}

.wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* just-cont - сверху и снизу делает отступы, размещая box по середине */
  /* justify-content: center; */
  align-items: center;
  padding: 40px 20px;
  color: white;
  max-width: 1100px;
  width: 50%;
  border: 1px solid rgb(233, 236, 248);
}

.lk_card {
  position: relative;
  align-items: center;
  margin-top: 0;
  display: flex;
  width: 600px;
  height: auto;
  flex-direction: column;
  border-radius: 30px;
  overflow: hidden;
}
