.App {
  text-align: center;
}

.block-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.block-wrapper__map {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.centring {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.map {
  width: 60%;
}

.pinInfo {
  width: 20%;
  padding-left: 20px;
}

#stat {
  width: 400px;
  height: 250px;
  overflow: hidden;
  padding: 0;
  border:none;
  background: transparent;
  overflow: hidden;
  margin-right: -20px;
}

#stat img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#stat-text span  {
  margin-left: 0;
}

#stat-text {
  padding-bottom: 10px;
}

