.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-grow: 1;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  width: 50%;
}
.card_sign_in {
  display: flex;
  align-items: center;
  background-color: pink;
  flex-direction: column;
  color: green;
  width: 300px;
  height: 300px;
  align-items: center;
  border: 5px solid rgb(233, 236, 248);
  border-radius: 40px;
}

.button_register {
  border: 1px solid rgb(233, 236, 248);
  opacity: 0.8;
  border-radius: 30px;
  padding: 10px 40px;
  color: whitesmoke;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 25px;
}

.button_register:hover {
  background-color: #1f5f80;
  color: whitesmoke;
  transition: 0.5s;
  align-items: center;
}
