.form {
  width: 240px;
  height: auto;
  background: #e6e6e6;
  border-radius: 4px;
  box-shadow: 0 0 40px -10px #000;
  margin: 0 auto;
  padding: 10px 20px;
  max-width: calc(100vw - 240px);
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  position: relative;
}
h5 {
  margin: 10px 0;
  padding-bottom: 10px;
  width: 180px;
  color: #000;
  border-bottom: 3px solid #78788c;
}
input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s;
  border-bottom: 2px solid #bebed2;
}

p:before {
  content: attr(type);
  display: block;
  margin: 28px 0 0;
  font-size: 14px;

}
button {
  float: center;
  padding: 8px 12px;
  margin: 8px 0 0;
  font-family: "Montserrat", sans-serif;
  border: 2px solid #78788c;
  background: 0;
  color: #5a5a6e;
  cursor: pointer;
  transition: all 0.3s;
}
button:hover {
  background: #78788c;
  color: #fff;
}
.div {
  content: "Hi";
  position: absolute;

  background: #50505a;
  color: #fff;
  width: 200px;
  padding: 8px;
  border-radius: 6px;
  font-size: 13px;
  box-shadow: 10px 10px 40px -14px #000;
}
span {
  margin: 0 5px 0 15px;
}

.inpimg {
  max-height: 50px;
}
