.form {
  width: 240px;
  height: 340px;
  background: #e6e6e6;
  border-radius: 4px;
  box-shadow: 0 0 40px -10px #000;
  margin: 0 auto;
  padding: 10px 20px;
  max-width: calc(100vw - 240px);
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  position: relative;
}
h5 {
  margin: 10px 0;
  padding-bottom: 10px;
  width: 180px;
  color: #000;
  border-bottom: 3px solid #78788c;
}
input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s;
  border-bottom: 2px solid #bebed2;
}

p:before {
  content: attr(type);
  display: block;
  margin: 28px 0 0;
  font-size: 14px;

}
button {
  float: center;
  padding: 8px 12px;
  margin: 8px 0 0;
  font-family: "Montserrat", sans-serif;
  border: 2px solid #78788c;
  background: 0;
  color: #5a5a6e;
  cursor: pointer;
  transition: all 0.3s;
}
button:hover {
  background: #78788c;
  color: #fff;
}
.div {
  content: "Hi";
  position: absolute;

  background: #50505a;
  color: #fff;
  width: 200px;
  padding: 8px;
  border-radius: 6px;
  font-size: 13px;
  box-shadow: 10px 10px 40px -14px #000;
}
span {
  margin: 0 5px 0 15px;
}

.formForMarker {
  width: 500px;
  margin: 0 auto;
  border: 1px solid black;
}

.formImages {
  display: flex;
  justify-content: space-between;
}

.formForSendImage {
  margin: 40px auto;
  width: 600px;
}

.formAddImage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border: 1px dotted black;
  border-radius: 10px;
  font-size: 10px;
}

.add {
  width: 50px;
}

.formShowImage {
  position: absolute;
  width: 150px;
  height: 150px;
}

.image {
  padding: 5px;
  max-width: 150px;
  max-height: 150px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.addImages {
  width: 50px;
}
