.form {
  position: relative;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  border-radius: 4px;
  width: 240px;
  height: auto;
  /* background: #92949e; */
  border: 1px solid grey;
  box-shadow: 0 0 40px -10px rgb(8, 8, 8);
  margin: 0 auto;
  padding: 20px 20px;
  max-width: calc(100vw - 240px);
  box-sizing: border-box;
  /* font-family: "Montserrat", sans-serif; */
  /* overflow-y: auto; */
  /* overflow: hidden; */
}

.draganddrop {
  background: url("https://static.thenounproject.com/png/49665-200.png");
  height: 100px;
  width: 100px;
  background-size: cover;
  filter: invert(100%);
}

h5 {
  margin: 10px 0;
  padding-bottom: 10px;
  width: 180px;
  color: #000;
  border-bottom: 3px solid #78788c;
}
input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s;
  border-bottom: 2px solid #bebed2;
}

p:before {
  content: attr(type);
  display: block;
  margin: 28px 0 0;
  font-size: 14px;
}
button {
  float: center;
  padding: 8px 12px;
  margin: 8px 0 0;
  font-family: "Montserrat", sans-serif;
  border: 2px solid #78788c;
  background: 0;
  color: #5a5a6e;
  cursor: pointer;
  transition: all 0.3s;
}
button:hover {
  background: #78788c;
  color: #fff;
}
.div {
  content: "Hi";
  position: absolute;

  background: #50505a;
  color: #fff;
  width: 200px;
  padding: 8px;
  border-radius: 6px;
  font-size: 13px;
  box-shadow: 10px 10px 40px -14px #000;
}
span {
  margin: 0 5px 0 15px;
}

.inpimg {
  max-height: 50px;
  max-width: 50px;
}

.button_send {
  /* background-color: #2c6e8e; */
  opacity: 0.8;
  /* background-color: #1f5f80; */
  border: 1px solid rgb(233, 236, 248);
  /* border: 2px solid rgb(134, 140, 179); */
  border-radius: 30px;
  /* padding: 10px 40px; */
  color: whitesmoke;
  /* font-weight: bold; */
  margin-top: 20px;
  box-shadow: 0 0 40px -5px green;
}

.button_send:hover {
  /* background-color: #7493b4; */
  /* background-color: #10415a; */
  background-color: #1f5f80;
  color: whitesmoke;
  transition: 0.5s;
  /* transition: all 0.3s ease-out; */
}

.dragPic {
  width: 100px;
  height: 100px;

}


