.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-grow: 1;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  width: 50%;
}

.card_sign_in {
  display: flex;
  align-items: center;
  background-color: pink;
  flex-direction: column;
  color: green;
  /* p-4 border rounded-2 */

  width: 300px;
  height: 300px;
  align-items: center;
  border: 5px solid rgb(233, 236, 248);
  border-radius: 40px;
}

.button_register {
  /* background-color: #a0a4b8; */
  /* background-color: #2c6e8e; */
  border: 1px solid rgb(233, 236, 248);
  /* border: 2px solid rgb(134, 140, 179); */
  opacity: 0.8;
  border-radius: 30px;
  padding: 10px 40px;
  color: whitesmoke;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 30px;
  box-shadow: 0 0 40px -5px rgb(245, 241, 241);
}

.button_register:hover {
  /* background-color: #7493b4; */
  background-color: #1f5f80;
  color: whitesmoke;
  transition: 0.5s;
  align-items: center;
}

.form_controlFreePar {
  display: block;
  /* opacity: 0.9; */
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 2px solid #fff;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
